In [1]:
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print sys.version

2.7.11 |Continuum Analytics, Inc.| (default, Dec  6 2015, 18:57:58)
[GCC 4.2.1 (Apple Inc. build 5577)]

In [2]:
np.random.seed(255)

In [3]:
raw_np_range = np.random.random_integers(1,20,26)

In [4]:
data = pd.Series.from_array(raw_np_range)

In [5]:
data

0     20
1     10
2      7
3      6
4     16
5     10
6     19
7      1
8      8
9     18
10    18
11     8
12    17
13     7
14     7
15    17
16     7
17     5
18    16
19    10
20    11
21    13
22     2
23    18
24    20
25     4
dtype: int64

In [6]:
data[20]

11

In [10]:
data[[10, 15, 20]]

10    18
15    17
20    11
dtype: int64

In [16]:
import string
upcase = list(string.uppercase)
print upcase

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [17]:
data.index = upcase

In [18]:
data

A    20
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
K    18
L     8
M    17
N     7
O     7
P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64

In [19]:
data[0]

20

In [20]:
data[1:5]

B    10
C     7
D     6
E    16
dtype: int64

In [21]:
data[[1,5]]

B    10
F    10
dtype: int64

In [24]:
data[['A', 'D']]

A    20
D     6
dtype: int64

In [25]:
num_index = pd.Series(upcase[:5], index=range(5, 10))

In [26]:
num_index

5    A
6    B
7    C
8    D
9    E
dtype: object

In [37]:
num_index.iget(0)

/Users/praneethkumar/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: iget(i) is deprecated. Please use .iloc[i] or .iat[i]
  if __name__ == '__main__':

'A'

In [38]:
num_index.iget([0,4])

/Users/praneethkumar/miniconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: iget(i) is deprecated. Please use .iloc[i] or .iat[i]
  if __name__ == '__main__':

5    A
9    E
dtype: object

In [40]:
num_index.iloc[[0,4]]

5    A
9    E
dtype: object

In [42]:
num_index.ix[[0,4]]

0    NaN
4    NaN
dtype: object

In [43]:
num_index.ix[[0,5]]

0    NaN
5      A
dtype: object

In [44]:
data

A    20
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
K    18
L     8
M    17
N     7
O     7
P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64

In [46]:
data.ix[[0,4]]

A    20
E    16
dtype: int64

In [47]:
data.iloc[[0,4]]

A    20
E    16
dtype: int64

In [48]:
data < 10

A    False
B    False
C     True
D     True
E    False
F    False
G    False
H     True
I     True
J    False
K    False
L     True
M    False
N     True
O     True
P    False
Q     True
R     True
S    False
T    False
U    False
V    False
W     True
X    False
Y    False
Z     True
dtype: bool

In [49]:
data[data<10]

C    7
D    6
H    1
I    8
L    8
N    7
O    7
Q    7
R    5
W    2
Z    4
dtype: int64

In [50]:
data[data < 10 and data > 5]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [51]:
data[(data < 10) & (data>5)]

C    7
D    6
I    8
L    8
N    7
O    7
Q    7
dtype: int64